<ion-header>
  <ion-toolbar>
    <div class="left-right-alerte">
      <ion-icon (click)="closeModals()" name="chevron-back-outline"></ion-icon>
      <ion-title>Modifier une alerte</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="alerte.libelle"
        placeholder="Titre de l'alerte"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="alerte.description"
        placeholder="Description"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="alerte.localisation"
        placeholder="Localisation"
      ></ion-input>
    </ion-item>
    <ion-select
      value="{{alerte.gravite}}"
      (ionChange)="changeValueGravite($event.detail.value)"
    >
      <ion-select-option value="1">Faible</ion-select-option>
      <ion-select-option value="2">Moyen</ion-select-option>
      <ion-select-option value="3">Grave</ion-select-option>
      <ion-select-option value="4">Très grave</ion-select-option>
    </ion-select>

    <ion-button (click)="submit()">Modifier</ion-button>
  </ion-content>
</ion-content>
