ion-title{
    background-color: #6F392D;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
ion-card-subtitle{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: large;
    margin-bottom: 10px;
}
ion-card-content p{
    color: black;
    font-size: small;
}