.logo{
    font-size: x-large;
    color: #B85641;
    padding: 0 10px;
}
img{
    padding: 20px 10px;
}
ion-title{
    background-color: #6F392D;
    color: white;
    font-weight: 500;
}
ion-item{
    color: black;
}
ion-menu-button{
    color: black;
}