ion-title{
    background-color: #6F392D;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.space-logo-placeholder ion-icon{
    padding-right: 10px;
}
ion-icon{
    font-size: x-large;
}
ion-item{
    margin-top: 10px;
}
ion-button{
    margin-top: 20px;
}
ion-back-button{
    color: white;
}