<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div>   
    <ion-title >Valider missions</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let mission  of missions">
    <ion-card-header>
      <div ></div>
      <ion-card-title>{{ mission.libelle }} </ion-card-title>
    
    </ion-card-header>
    <div class="global-btn-alerte">
      <div class="Gravite-alerte">
      <p *ngIf=" mission.valider == null" ><ion-icon size="large" name="radio-button-on-outline"></ion-icon></p>
        <p *ngIf=" mission.valider == '1'" ><ion-icon size="large" color="success"name="radio-button-on-outline"></ion-icon></p>
        <p *ngIf=" mission.valider == '0'" ><ion-icon size="large" color="danger"name="radio-button-on-outline"></ion-icon></p>
       
      </div>
      <div class="modifier-suppr-alerte">
        <ion-icon (click)="ValiderMission(mission)" class="border" name="pencil-outline"></ion-icon>
      </div>
    </div>
    
   
  </ion-card>

</ion-content>
<script>
  
</script>
