<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Zoo du Cerza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <img src= "/assets/image/zoo.jpg"/>
      <h1>PRÉSENTATION DE L’ASSOCIATION</h1>
      <p class="presentation-zoo">Au-delà de la mission éducative <span>les parcs zoologiques ont pour tâche de protéger
        les espèces menacées.</span> La présence d’animaux sauvages en voie de disparition dans 
        les parcs zoologiques permet aux visiteurs de prendre conscience des menaces qui 
        pèsent sur notre planète. Il est très important que les parcs zoologiques travaillent
        ensemble pour la protection des écosystèmes et des animaux en voie de disparition. Ainsi,
      <span>l’EAZA (Association Européenne des Zoos et Aquariums)</span> a été créée en 1992 regroupant aujourd’hui
        309 zoos Européens et <span>la CEPA (Conservation des Espèces et Populations Animales)</span> en 1997 rassemblant
        21 zoos français.</p>
      <div class="block-number">
        <div class="number">
          <span>1500</span><label>Animaux espèces</label>
        </div>
        <div class="number">
          <span>120</span><label>Espèces</label>
        </div>
        <div class="number">
          <span>70</span><label>Hectares</label>
        </div>
        <div class="number">
          <span>5</span><label>Continents</label>
        </div>
      </div>
</ion-content>
